.home-page
  .container
    #myCarousel.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
      .carousel-inner
        -# %a{:href=> "#popular-category", :class=> "ancor", :id=> "ancor"}
          -# = image_tag('arrow.png', alt: "V")
        .item.active
          = image_tag('slider1.jpg', class: 'img-fluid img-thumbnail')
        .item
          = image_tag('slider2.jpg', class: 'img-fluid img-thumbnail')
        .item
          = image_tag('slider3.jpg', class: 'img-fluid img-thumbnail')
        %h1= t('titles')
      %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
        %span.glyphicon.glyphicon-chevron-left
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
        %span.glyphicon.glyphicon-chevron-right
        %span.sr-only Next
.top-category
  #About.about
    .about_image
      =image_tag('aboutimg.png')
    .about_text
      %h2 About Gallery
      %h3
        %span Some
        words
        %span about gallery
      %p.about_text_describe Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque enim pariatur, et nesciunt exercitationem deserunt, autem labore totam alias explicabo facere provident mollitia quidem. Error eligendi quaerat cumque sint rerum.
      %ul
        %li
          Mission -
          %span Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, laborum optio. Unde, molestiae sunt? Est eos, eius in esse reiciendis, pariatur fugit recusandae harum repellat, molestias voluptates sequi deserunt similique.
        %li
          Skills -
          %span Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem expedita suscipit ea quam cumque odit repellat est enim tempore nobis nostrum quibusdam vero explicabo quae pariatur praesentium, dolorem ut corporis!
        %li
          Clients -
          %span Lorem ipsum dolor sit amet consectetur adipisicing elit.
  .container
    #popular-category
      %h2= t('categories.top')
    #myCarousel1.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel1"}
        %li{"data-slide-to" => "1", "data-target" => "#myCarousel1"}
        %li{"data-slide-to" => "2", "data-target" => "#myCarousel1"}
        %li{"data-slide-to" => "3", "data-target" => "#myCarousel1"}
        %li{"data-slide-to" => "4", "data-target" => "#myCarousel1"}
      .carousel-inner.top-category-items
        - if @top_categories
          - @top_categories.reverse_order.limit(4).each do |category|
            - if category.images.count > 3
              .item
                .popular-category
                  %h3= category.title.upcase
                  .home_images
                    - if @images[category]
                      - @images[category].each do |img|
                        .home_image
                          =image_tag(img.image.medium_thumb.url)
        .item.active
          .popular-category
            - if @top_categories
              %h3= @top_categories.first.title.upcase
              .home_images
                - @images[@top_categories.first].each do |img|
                  .home_image
                    =image_tag(img.image.medium_thumb.url)

.benefits
  .benefits__inner
    %h1.benefits__header
      = t('statistic').capitalize
    .benefits__element
      %p.benefits__number 
        = @statistic[0]
      %p.benefits__title
        %span.glyphicon.glyphicon-picture
    .benefits__element
      %p.benefits__number 
        = @statistic[1]
      %p.benefits__title
        %span.glyphicon.glyphicon-heart
    .benefits__element
      %p.benefits__number 
        = @statistic[2]
      %p.benefits__title
        %span.glyphicon.glyphicon-comment
.footer
  %h2 Contact info
  %span admin@example.com