- if user_signed_in?
  - if !pre_like
    = link_to image_fans_path(image), method: :post, class:"like" do
      %span.glyphicon.glyphicon-heart-empty
      = @image.fans.count

  - else
    = link_to image_fan_path(image, pre_like), method: :delete, class:"dislike" do
      %span.glyphicon.glyphicon-heart
      = @image.fans.count

- else
  %p
    = @image.fans.count
    %span.glyphicon.glyphicon-heart-empty      |