%h2= t('posts.add_post')
= form_with scope: :image, url: category_posts_path, local: true do |form|
  %p
    = form.label t('images.name')
    %br/
    = form.text_field :title
  %p
    = form.label t('images.image')
    %br/
    = form.file_field :image
  %p
    = form.submit
