.container
  %h2
    = @image.title.capitalize
  .image
    = image_tag(@image.image.url, alt: 'Image', class:"img-fluid img-thumbnail")
  = render 'fans/likes', image: @image 
  = render 'comments/comment', image: @image
  = render 'comments/form', image: @image if user_signed_in?
