= form_with scope: :category, url: categories_path, local: true do |form|
  %p
    = form.label :title
    %br/
    = form.text_field :title, class: "form-control"
  %p
    = form.label :description
    %br/
    = form.text_area :description, class: "form-control"
  %p
    = form.submit
