%h1 Editing category
= form_with(model: @category, local: true) do |form|
  %p
    = form.label :title
    %br/
    = form.text_field :title, class: "form-control"
  %p
    = form.label :Description
    %br/
    = form.text_area :description, class: "form-control"
  %p
    = form.submit
= link_to 'Back', categories_path
