%h1 PROFILE
%h2 User information
= image_tag(current_user.avatar.small_thumb.url, alt: 'Image') if current_user.avatar?
%p
  = current_user.email
%p
  = current_user.name
%p
  = current_user.date_of_birth.strftime('%Y/%m/%d').to_s if current_user.date_of_birth
%p
  = link_to 'Edit', edit_user_registration_path

%h2 Create category
- @created_category.each do |created|
  %div
    = link_to created.title, category_posts_path(created)
%h2 Subscribe category
- @subscribed_category.each do |subscr|
  %div
    = link_to subscr.title, category_posts_path(subscr.id)
