= form_for image do |f|
  %div
    = f.label :title
    = f.text_field :title, class: "form-control"
  %div
    = f.label :image
    = f.file_field :image
    = f.hidden_field :image_cache
  = f.submit
