%h1= @image.title
= image_tag(@image.image.url, alt: 'Image') if @image.image?
= render 'fans/likes', image: @image
= render 'comments/comment', image: @image
= render 'comments/form', image: @image if user_signed_in?

