.container
  %h2= t('users.sig_up')
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    %div
      = f.label :name
      %br/
      = f.text_field :name, autofocus: true, class: "form-control"
    %div
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, class: "form-control"
    %div
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "off", class: "form-control"

    %div
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
    %div
      = f.label :avatar
      = f.file_field :avatar
    %div= f.submit t('users.sig_up'), class: "reg-btn", id: "reg-btn"
  = render "users/shared/links"
